.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-top: 20px;
  width: 100%;
}

.page-title {
  display: flex;
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  margin: 0;
}

.header-controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Filter Button Styling */
.btn-filter {
  border: 2px solid var(--primary-maroon);
  color: var(--primary-maroon);
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: 600;
  background: white;
  transition: 0.2s;
}

.btn-filter:hover {
  transform: scale(1.1);
}

/* Bookmark Icon Styling */
.icon-bookmark {
  font-size: 1.8rem;
  color: var(--secondary-yellow);
  cursor: pointer;
}

.icon-bookmark:hover {
  transform: scale(1.1);
}

/* Table Design */
.history-table-container {
  border: 2px solid var(--primary-maroon);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 4rem;
}

.history-table-container thead {
  background-color: var(--primary-maroon) !important;
  text-align: center;
}

.history-table-container th {
  background-color: var(--primary-maroon) !important;
  color: white !important;
  padding: 15px;
  font-weight: 600;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.history-table-container td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid var(--primary-maroon);
  border-bottom: 1px solid #DEE2E6;
}

.history-table-container th:last-child,
.history-table-container td:last-child {
  border-right: none;
}

.badge-status {
  display: inline-block;
  padding: 5px 0;
  width: 120px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: capitalize;
}

.badge-status.returned {
  background-color: var(--status-green);
  color: #1A5E00;
}

.badge-status.borrowed {
  background-color: var(--status-orange);
  color: #614A00;
}