.header-controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* == BOOK CARD COMPONENT == */
.book-item {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.book-item:hover {
  transform: scale(1.02);
}

.book-placeholder {
  background-color: var(--bg-gray);
  border-radius: 6px;
  width: 100%;
  aspect-ratio: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.book-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-title {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 700;
  color: black;
  font-size: 1rem;
  line-height: 1.2;
  /* Limits text to 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-author {
  color: #6C757D;
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  /* For too long text */
  text-overflow: ellipsis;
}

/* Bookmark Icon Styling */
.icon-bookmark {
  font-size: 1.8rem;
  color: var(--secondary-yellow);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.icon-bookmark .fill-icon {
  display: none;
}

.icon-bookmark:hover .outline-icon {
  display: none;
}

.icon-bookmark:hover .fill-icon {
  display: inline-block;
  transform: scale(1.02);
}