.request-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 1rem;
  width: 100%;
}

.request-row {
  background-color: var(--bg-gray);
  border-radius: 50px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0  0 0 20px;
  flex-grow: 1;
}

.request-info {
  display: flex;
  flex-grow: 1;
  padding: 12px 30px;
  justify-content: space-between;
  font-weight: 600;
}

.status-pill {
  background-color: var(--primary-yellow);
  color: var(--primary-maroon);
  border-radius: 50px;
  padding: 12px 30px;
  min-width: 200px;
  text-align: center;
  font-weight: 700;
}

/* == BUTTONS == */
.action-btns {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.btn-circle i {
  font-size: 2.2rem;
}

.btn-approve {
  color: var(--status-green);
}

.btn-approve:hover {
  color: #48C700;
  transform: scale(1.1);
}

.btn-reject {
  color: var(--status-red);
}

.btn-reject:hover {
  color: #CC0000;
  transform: scale(1.1);
}